:root {
    --primary-color: #ffb900;
    --first-background-color: #fffcf4;
    --second-background-color: #2e2100;
    --text-color: #171100;
    --second-text-color: #5f5b53;
    --white-color: #ffffff;
}

/* * {border: 1px solid;} */

body {
    font-size: 1rem !important;
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
}

header {
    background: var(--first-background-color);
    z-index: 99;
}

.btn-hov {
    background: var(--second-background-color);
    font-weight: bold;
    color: var(--white-color);
}
.btn-hov:hover {
    background: var(--primary-color);
    font-weight: bold;
    color: var(--white-color);
}

.point-title-princ {
    color: var(--primary-color);
}

#home {
    background: var(--first-background-color);
    padding-top: 5rem;
    padding-bottom: 14rem;
}

.container-img-guy {
    width: 37%;
}

.contenue-home {
    width: 100% !important;
    padding-top: 2rem !important;
}

.title-home {
    font-size: 1.2rem !important;
}

.title-home + p {
    opacity: 0.7 !important;
}

.btn-voir-cours {
    background: var(--primary-color);
}

.btn-voir-cours:hover {
    background: var(--primary-color);
    opacity: 0.7 !important;
}

.cours {
    background: var(--white-color);
    bottom: -5% !important;
    left: 30% !important;
    z-index: 2;
}

.cor img {
    width: 18%;
    aspect-ratio: 1/1;
}

#cours {
    padding-top: 13rem;
}

.butt-defilement {
    margin-right: 10rem;
}

.avis {
    background: var(--second-background-color);
    margin-top: 10rem !important;
    padding: 7rem;
}

.information-perso > img {
    width: 25%;
    aspect-ratio: 1/1;
}

.text-avis {
    padding-left: 8rem !important;
    padding-right: 10rem !important;
}

.text-avis img {
    top: -10% !important;
    left: 10% !important;
}

.fal > div, .fal2 {
    width: 0.45rem !important;
    aspect-ratio: 1/1 !important; 
    background: var(--second-text-color);
    border-radius: 50%;
}

.fal > div:first-of-type {
    background: var(--primary-color);
}

.fal-div1 {
    background: var(--second-text-color) !important;
}

.fal-div2 {
    background: var(--primary-color) !important;
}

.fal2 {
    width: 0.5rem !important;
    background: var(--primary-color);
}

#service {
    padding-top: 13rem;
}

.service2 {
    margin-top: 10rem !important;
}

.card-blog img {
    height: 30vh !important;
}

#blog {
    margin-top: 7rem !important;
    padding-top: 9rem !important;
}

footer {
    margin-top: 10rem !important;
    padding: 1rem;
    padding-bottom: 1rem;
    background: var(--second-background-color);
}

.links-resaux a:hover {
    transform: scale(1.2);
}

.footer-contenue p:not(.aide):hover {
    transform: scale(1.2);
}

.footer-contenue p {
    font-size: 0.85rem !important;
    opacity: 0.7;
}

.footer-contenue .aide {
    word-spacing: 5px;
}

.footer-contenue h2 {
    border-width: 0.01rem !important;
    border-bottom-style: outset !important;
}

@media screen and (min-width: 1220px) {
    nav {
        padding-right: 10.5rem !important;
        padding-left: 7rem !important; 
        padding-top: 2.5rem !important;
        padding-bottom: 2rem !important;
    }

    .card-cours > div {
        width: 30% !important;;
    }

    .cont-home {
        gap: 8rem !important;
    }

    .contenue-home {
        width: 38% !important;
        padding-top: 5rem !important;
    }

    .title-home {
        font-size: 3.5rem !important;
    }

    .title-home + p {
        opacity: 0.7 !important;
    }

    #cours :is(.info-cours, .card-cours) {
        padding-left: 10% !important;
    }

    .cont-cours {
        width: 37% !important;
    }

    .service1, .service2 {
        margin-left: 10% !important;
        margin-right: 10% !important;
    }

    .service1-content {
        width: 65% !important;
        padding: 2rem;
    }

    #blog > p {
        width: 30% !important;
    }

    footer {
        margin-top: 10rem !important;
        padding: 5rem 4rem;
        padding-bottom: 1rem;
        background: var(--second-background-color);
    }
}

@media screen and (max-width: 1210px) {
    body {font-size: 1.4rem;}

    #offcanvasForm, #offcanvasInscrire, #offcanvasConnecte {
        width: 90% !important;
    }

    .container-img-guy {
        width: 80% !important;
        margin: auto;
    }

    .title-home + p {
        font-size: 0.8rem !important;
    }

    .group-butt {
        width: 100% !important;
    }

    .btn-voir-cours, .btt-video {
        font-size: 0.8rem !important;
        width: 50% !important;
        padding: 0.2rem !important;
        height: max-content !important;
    }

    .btt-video img{
        width: 12% !important;
        aspect-ratio: 1/1 !important;
    }

    .cont-home h3 {
        font-size: 1rem !important;
    }

    .nb-person span {
        font-size: 1.1rem !important;
    }

    .cours {
        position: static !important;
        width: 100% !important;
        background: var(--first-background-color);
    }
    .cours p {
        font-size: 1rem !important;
    }

    .info-cours {
        width: 100% !important;
        justify-content: space-around !important;
    }

    .cont-cours * {
        width: 60vw !important;
        font-size: 0.8rem !important;
    }

    .cont-cours h2 {
        margin-left: auto;
        font-size: 1.1rem !important;
    }

    .card-pr {
        width: 70% !important;
        margin: auto;
    }

    .card-pr h3 {
        font-size: 1rem !important;
    }

    .card-pr p, .card-pr span {
        font-size: 0.8rem !important;
    }

    .card-pr button {
        font-size: 0.8rem !important;
    }

    .avis {
        display: none !important;
    }

    .service1-content, .service2-content {
        width: 90% !important;
        margin: auto;
        border-radius: 5%;
    }

    .service1 img, .service2 img{
        width: 75% !important;
        margin: auto 0.4rem !important;
    }

    .service2 img {
        width: 90% !important;
    }

    .service1-content h2, .service2-content h2 {
        font-size: 1.1rem !important;
        text-align: center;
    }

    .service1-content p, .service2-content p {
        font-size: 0.8rem !important;
    }

    #blog > p {
        width: 100% !important;
    }

    .card-blog > div {
        width: 90% !important;
        margin: auto;
    }

    .card-blog p {
        font-size: 1rem !important;
    }

    .footer-contenue > div {
        width: 100% !important;
    }
}